body {
  font-family: "PingFang SC", 'Noto Sans SC', 'Noto Sans CJK SC', 'Noto Sans CJK', 'Source Han Sans', source-han-sans-simplified-c, sans-serif;
}
body .index {
  overflow: unset;
} 
#app {
  width: 1000px;
  padding-bottom: 50px;
}
.index .appwrap {
  margin: 0 auto;
}
.app_nav {
  height: 35px;
  border-bottom: 1px solid #0000C2;
  position: sticky;
  top: 0px;
  left: 100px;
  background: #fff;
  line-height: 35px;
}
.app_nav a {
  display: inline-block;
  padding: 0 10px;
  font-size: 18px;
  color: #000;
}

.app_nav a span {
  padding-left: 5px;
}

table {
  width: 100%;
}
table td {
  width: 12.5%;
}

h2 {
  padding-top: 50px;
  padding-bottom: 20px;
  margin-left: 15px;
  font-weight: 300;
}

p {
  font-size: 14px;
  line-height: 1;
  color: #000;
  font-weight: 300;
  margin-bottom: 20px;
  margin-top: 5px;
}

.hidden {
  visibility: hidden;
}

.index div.header {
  position: relative;
  margin-bottom: 15px;
  background: #0000C2 url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiP…kiPjwvcGF0aD4KICAgICAgICAgICAgPC9nPgogICAgICAgIDwvZz4KICAgIDwvZz4KPC9zdmc+) top no-repeat;
}